#input-form{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    resize:none;
}

textarea{
    resize: none;
}
#btnDropDown{
    width: 100px;
}

#btnDecrypt{
    display:none;
}
